[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CptNonPar"]
	path = CptNonPar
	url = https://github.com/euanmcgonigle/cptnonpar
[submodule "TrendLSW"]
	path = TrendLSW
	url = https://github.com/euanmcgonigle/trendlsw
